  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');
  @tailwind base;
  @tailwind components;
  @tailwind utilities;


  @layer base {
      html {
          font-family: "IBM Plex Sans Arabic", Arial, Helvetica, sans-serif;
      }

      body {
          background-image: url("../images/bg-tablet-pattern.svg");
          background-repeat: no-repeat;
          background-size: 800px;
          background-position: 90% -7%;
      }

      #cta {
          background-image: url("../images/bg-simplify-section-desktop.svg");
          background-repeat: no-repeat;
          background-position: 90%;
      }
  }

  * {
      scroll-behavior: smooth;
  }